/* Loader Css */
.dots {
   width: 4.5px;
   height: 4.5px;
   border-radius: 50%;
   color: #3992d3;
   box-shadow: 21.3px 0 0 7.8px, 42.6px 0 0 3.4px, 63.900000000000006px 0 0 0;
   transform: translateX(-42.6px);
   animation: dots-ijr34dmd 0.5s infinite alternate linear;
}

@keyframes dots-ijr34dmd {
   50% {
      box-shadow: 21.3px 0 0 3.4px, 42.6px 0 0 7.8px, 63.900000000000006px 0 0 3.4px;
   }

   100% {
      box-shadow: 21.3px 0 0 0, 42.6px 0 0 3.4px, 63.900000000000006px 0 0 7.8px;
   }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  50% { opacity: 0.5; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}


.dots2 {
   width: 56px;
   height: 26.9px;
   background: radial-gradient(circle closest-side,#ffffff 90%,#0000) 0%   50%,
          radial-gradient(circle closest-side,#ffffff 90%,#0000) 50%  50%,
          radial-gradient(circle closest-side,#ffffff 90%,#0000) 100% 50%;
   background-size: calc(100%/3) 13.4px;
   background-repeat: no-repeat;
   animation: dots-7ar3yq 1s infinite linear;
}

@keyframes dots-7ar3yq {
   20% {
      background-position: 0%   0%, 50%  50%,100%  50%;
   }

   40% {
      background-position: 0% 100%, 50%   0%,100%  50%;
   }

   60% {
      background-position: 0%  50%, 50% 100%,100%   0%;
   }

   80% {
      background-position: 0%  50%, 50%  50%,100% 100%;
   }
}
